<%= render 'admintop' %>
<div id="main">
  <div class="breadcrumb-wrapper">
    <div class="container">




      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3 class="title">了解我们</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
              <%= form_for(@config,:html => {:multipart => true}) do |f| %>


              <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <p class="pull-right">
                  网站标题:
                </p>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                <%= f.text_field :title ,class:"form-control" %>
              </div>

<br>
                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      电话:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :tel,class:"form-control"  %>
                  </div>

                  <br>
                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      邮箱:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :mail,class:"form-control"  %>
                  </div>




                  <br>
                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      地址:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :address,class:"form-control"  %>
                  </div>

                  <br>
                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      备案:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :beian,class:"form-control"  %>
                  </div>

                  <br>
                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      qq:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :qq,class:"form-control"  %>
                  </div>

                  <br>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      底部标题:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :recenttitle,class:"form-control"  %>
                  </div>

                  <br>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      底部简介:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :recentsummary,class:"form-control"  %>
                  </div>

                  <br>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                      网站logo:
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.file_field :logo,class:"form-control"  %>
                  </div>







                  <br>
                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <div class="pull-right">
                      <%= f.submit '确定',class:'btn-small btn-color btn-pad' %>

                    </div>
                  </div>




            </div>
          </div>
        </div>
      </div>
      <!-- End 5th Row-->






<% end %>

    </div>
  </div>
</div>
<%= render 'footer' %>