<%= render 'admintop' %>
<div id="main">
  <div class="breadcrumb-wrapper">
    <div class="container">




      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3 class="title">了解我们</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
              <%= form_for(@config,:html => {:multipart => true}) do |f| %>


              <div class="col-md-4">

                  网站标题:

              </div>
              <div class="col-md-8">
                <%= f.text_field :title ,class:"wpcf7-form-control wpcf7-text",style:'width:800px;' %>
              </div>




                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      电话:
                    </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :tel,class:"form-control" ,style:'width:800px;' %>
                  </div>


                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      邮箱:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :mail,class:"form-control",style:'width:800px;'  %>
                  </div>





                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      地址:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :address,class:"form-control",style:'width:800px;'  %>
                  </div>


                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      备案:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :beian,class:"form-control" ,style:'width:800px;' %>
                  </div>


                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      qq:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :qq,class:"form-control" ,style:'width:800px;' %>
                  </div>


                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      底部标题:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :recenttitle,class:"form-control" ,style:'width:800px;' %>
                  </div>

                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      底部简介:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :recentsummary,class:"form-control" ,style:'width:800px;' %>
                  </div>


                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      网站logo:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.file_field :logo,class:"form-control" ,style:'width:800px;' %>
                  </div>











                  <br>

                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <div >
                      <%= f.submit '确定',class:'btn btn-primary wpcf7-submit' %>

                    </div>
                  </div>




            </div>
          </div>
        </div>
      </div>
      <!-- End 5th Row-->






<% end %>

    </div>
  </div>
</div>
<%= render 'footer' %>