
<script>


    $(document).ready(function () {


        $("#cla_select").click(function(){

        $('#cla_id').val($('#cla_select').val());

        });



        if($('#cla_id').val()>1)
        {
            $('#cla_select').val($('#cla_id').val());
        }else
        {
            $('#cla_id').val('1');
        }


    });






</script>

<div id="main">
  <div class="breadcrumb-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h3 class="title">关于我们</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
              <%= form_for(@content,:html => {:multipart => true}) do |f| %>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      栏目:

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.hidden_field :cla_id,class:"form-control",id:"cla_id"  %>
                    <select class="form-control" id="cla_select" style="width: 800px;" >
                      <% @clas.each do |cla| %>
                          <option value=<%= cla.id %> ><%= cla.title %></option>
                      <% end %>
                    </select>
                  </div>
                  <br>




                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      标题

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :title ,class:"form-control",style:'width:800px;' %>
                  </div>
                  <br>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      作者

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :auther, class:"form-control",style:'width:800px;' %>
                  </div>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      图标

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :icon, class:"form-control",style:'width:800px;' %>
                  </div>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      产品价格

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_field :price, class:"form-control",style:'width:800px;' %>
                  </div>
                  <br>



                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      产品介绍

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.text_area :summary,cols:"5", class:"form-control",style:'width:800px;' %>
                  </div>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                      产品图片

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <%= f.file_field :image, class:"form-control",style:'width:800px;' %>
                  </div>

                  <br>
                  <% if @content.image_content_type.to_s.length>0 %>
                      <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                        <p class="pull-right">

                        </p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                        <img src=<%=@content.image.url %> >

                      </div>
                  <% end %>
                  <br>
                  <br>


                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">

                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">

                  </div>
                  <br>




<% if params[:id] %>
                  <div >

                        <%= f.kindeditor :content, :simple_mode => true,:owner_id => @content.id,height:800 %>


                  </div>
                      <% end %>





                  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <p class="pull-right">
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                    <div class="pull-right">
                      <%= f.submit '确定',class:'btn btn-primary wpcf7-submit' %>
                    </div>

                  </div>




                  </div>
                  </div>
                  </div>
                  </div>
                  <!-- End 5th Row-->






              <% end %>

              </div>
  </div>
</div>
