<%= render 'top' %>





<!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <h2 class="title">公司新闻</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <div class="breadcrumbs pull-right">
          <ul>
            <li>你在这里:</li>
            <li><a href="#">新闻</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Title, Breadcrumb End-->




<div class="content">
  <div class="container">
    <div class="row">
      <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12">





        <% @news.each do |new| %>





        <article class="post hentry">
          <header class="post-header">
            <h3 class="content-title"> <%= link_to new.title,news_path(new) %></h3>
            <div class="blog-entry-meta">
              <div class="blog-entry-meta-date">
                <i class="icon-time"></i>
                <span class="blog-entry-meta-date-month"><%= new.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>

              </div>
              <div class="blog-entry-meta-author">
                <i class="icon-user"></i>
                <span class="blog-entry-meta-author"><%= new.auther %></span>
              </div>


            </div>
          </header>
          <div class="post-content">

              <%= new.summary %>

          </div>
        </article>
        <div class="blog-divider" style="height:1px;"></div>



<% end %>







        <div class="pagination-centered">
          <ul class="pagination">

            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>




            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>


          </ul>
        </div>


      </div>




        <!-- Search Widget Start -->
<%= render 'right' %>
        <!-- Search Widget End -->
        <!-- Tab Start -->


    </div>
  </div>
</div>
<!-- Tab End -->
<%= render 'footer' %>