<%= form_for(@main) do |f| %>

    <div class="field">
      <%= f.label :标题 %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :内容 %><br>
      <%= f.number_field :summary %>
    </div>
    <div class="field">
      <%= f.label :图片 %><br>
      <%= f.number_field :mainimage %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
