<!-- Header Start -->

<% if session[:username] == nil %>
    <script>
      location.href='logins/new';

    </script>
    <% end %>

<header id="header">
  <!-- Header Top Bar Start -->
  <div class="top-bar" style="max-height:98px;">

    <div class="slidedown collapse">

      <div >
        <div class="container">
          <div class="logo pull-left">
            <h2>


              <%= image_tag public_config.logo.url,height:70%>

            </h2>
          </div>







          <div class="container">

            <div class="phone-email pull-right">



              <table border="0">
                <tr>
                  <td><i class="icon-laptop"></i>网址:   www.zhongshuixi.com &nbsp; &nbsp; <i class="icon-phone"></i>电话: <%= public_config.tel %></td>
                </tr>


                <tr>
                  <td><i class="icon-envelope"></i>邮箱: <%= public_config.mail %>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i class="icon-comments"></i>QQ:  <%= public_config.qq %></td>
                </tr>


                <td><i class="icon-map-marker">&nbsp; &nbsp;</i>地址:云南省玉溪市红塔区彩虹路27号彩虹新区8幢3号</td>





              </table>
              <br>

            </div>
          </div>

        </div>
      </div>
    </div>
  <!-- Header Top Bar End -->
  <!-- Main Header Start -->
  <div class="main-header" >

    <div class="container">
      <!-- TopNav Start -->








      <!-- Mobile Menu End -->
      <!-- Menu Start -->

      <nav class="collapse navbar-collapse menu" >

        <ul class="nav navbar-nav sf-menu" >


          <li >
            <a href=<%= admins_path %>>
              管理员
                           <span class="sf-sub-indicator">
                           <i class="icon-angle-down "></i>

                           </span>
            </a>

          </li>

          <li>
            <a href=<%= configs_path %> class="sf-with-ul">
              设置
                           <span class="sf-sub-indicator">
                           <i class="icon-angle-down "></i>
                           </span>
            </a>

          </li>
          <li>
            <a href="#" class="sf-with-ul">
              文章
                           <span class="sf-sub-indicator">
                           <i class="icon-angle-down "></i>
                           </span>
            </a>
            <ul>
              <li><a href=<%= clas_path %> class="sf-with-ul">栏目</a></li>
              <li><a href=<%= contents_path %> class="sf-with-ul">文章</a></li>

            </ul>
          </li>
          <li>
            <a href=<%=  messages_path %> class="sf-with-ul">
              留言

            </a>

          </li>

          <li>
            <a href=<%=  sliders_path %> class="sf-with-ul">
              主页图片

            </a>

          </li>








        </ul>
      </nav>
      <!-- Menu End -->
    </div>
    </div>
  </div>
  <!-- Main Header End -->
</header>
<!-- Header End -->