<%= render 'top' %>





<!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <h2 class="title">产品介绍</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <div class="breadcrumbs pull-right">
          <ul>
            <li>你在这里:</li>
            <li><a href="index-2.html">主页</a></li>
            <li><a href="#">产品</a></li>
            <li>产品介绍</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Title, Breadcrumb End-->

<!-- 3 Column Big Services -->
<div class="services-big">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="title">我们的产品</h3>
      </div>
      <div class="clearfix"></div>

<% @contents.each do |content| %>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-box">
          <div class="content-box-icon">
           <a href=<%= product_path(content) %>> <%= image_tag content.image %></a>
          </div>
          <div class="content-box-info">
            <h4><%= content.title %><i class="pull-right icon-yen" style="color: #FF6600;">&nbsp;<%= content.price %></i></h4>




            <p>
              <%= content.summary %>
            </p>
          </div>
        </div>
      </div>


<% end %>









      </div>
    </div>
  </div>
      <!-- 3 Column Services End-->